/* MEDIA QUERIES */
@media (max-width: 768px) {
    .bienvenido {
      font-size: 1rem;
    }
  
    .card-body {
      font-size: 1rem;
    }
  
    .destacados {
      font-size: 1rem;
    }
  
    .hablemos {
      font-size: 1.1rem;
    }
  
    .parrafo-hablemos {
      font-size: 0.9rem;
    }
  
    .footer-primera-fila p,
    .footer-segunda-fila p,
    .nav-footer a {
      font-size: 0.9rem;
    }
  
    .contenedor-iconos .bi {
      font-size: 1.2rem;
    }
  }
  
  @media (max-width: 576px) {
    .bienvenido {
      font-size: 1rem;
    }
  
    .card-body {
      font-size: 1rem;
    }
  
    .destacados {
      font-size: 1rem;
    }
    
    .hablemos {
      font-size: 1rem;
    }
  
    .parrafo-hablemos {
      font-size: 0.8rem;
    }
  
    .footer-primera-fila p,
    .footer-segunda-fila p,
    .nav-footer a {
      font-size: 0.8rem;
    }
  
    .contenedor-iconos .bi {
      font-size: 1rem;
    }
  }
  
  .active{
    color: #ff6b6b !important;
  }