.nav-item.active {
  background-color: #4CAF50; /* Cambia a tu color preferido */
}
.wallpaper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-image: url(/img/wallpaper.jpg);
}

.wallpaper h1 {
  font-size: 300%;
  color: white;
  text-shadow: #ff6b6b 4px 4px;
}
/* FORMA DE CONTACTO */
.forma {
  margin: auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.color-text {
  color: #1A936F;
}

#mensaje {
  height: 100%;
  opacity: 70%;
}

.btn-vitalia {
  margin-top: 4%;
}

.fa-linkedin{
  text-align: center;
    margin-top: 20px;
    color: #0073b1;
    margin: 0 10px;
    font-size: 24px;
    transition: color 0.3s;
}

.fa-github{
  text-align: center;
    margin-top: 20px;
    color: #333;
    margin: 0 10px;
    font-size: 24px;
    transition: color 0.3s;
}

/*PRODUCTOS*/
  h2{
    text-align: center;
    padding: 10px;
    color: #143027;
  }

  .card img{
    width: 200px;
    height: 300px;
  }

  .active{
    color: #ff6b6b !important;
  }
  
/* parte responsiva de carrousel*/
.carousel-item {
  max-height: 500px; 
  object-fit: cover; 
}
.carousel-inner {
    border-radius: 10px; 
    overflow: hidden; 
}
