* {
    font-family: "Didact Gothic", sans-serif;
    font-weight: 400; /*tipografia*/
    font-style: normal;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
    margin: 0;
  }
  /* Encabezado contacto */
  .wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-image: url(/img/encabezado.png);
  }
  
  .wrap h1 {
    font-size: 300%;
    color: rgb(255, 255, 255);
    text-shadow: #ff6b6b 4px 4px;
  }


  /* FORMA DE CONTACTO */
  .forma {
    margin: auto;
      padding: 20px;
      background-color: #f8f9fa;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .color-text {
    color: #1A936F;
  }
  
  #message {
    height: 100%;
    opacity: 70%;
  }
  
  .btn-vitalia {
    margin-top: 4%;
  }

  /* FOOTER */
  .contenedor-footer {
    background-color: #143027;
    color: white;
    padding: 25px;
    margin: 0;
    width: 100%;
  }
  
  .footer-primera-fila {
    padding: 20px;
    color: white;
  }
  
  .footer-segunda-fila {
    justify-content: space-around;
    align-items: center;
  }
  
  .contenedor-iconos {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .bi {
    margin: 10px;
    font-size: 1.4rem;
    color: white;
  }
  
  .nav-footer a {
    text-decoration: none;
    color: white;
    margin-right: 10px;
  }
  .hablemos {
    font-weight: bold;
    font-size: 1.3rem;
  }
  
  /* MEDIA QUERIES */
  @media (max-width: 768px) {
    .navbar-nav .nav-item {
      font-size: 1.2rem;
    }
  
    .navbar-brand img {
      width: 150px;
    }

  
    .footer-primera-fila p,
    .footer-segunda-fila p,
    .nav-footer a {
      font-size: 0.9rem;
    }
  
    .contenedor-iconos .bi {
      font-size: 1.2rem;
    }
  }
  
  @media (max-width: 576px) {
    .navbar-nav .nav-item {
      font-size: 1rem;
    }
  
    .navbar-brand img {
      width: 120px;
    }
  
    .acercade p {
      font-size: 1rem;
    }
  
    .flip-card {
      width: 95%;
      height: 250px;
    }
  
    .flip-card-front img {
      height: 160px;
    }
  
    .hablemos {
      font-size: 1rem;
    }
  
    .parrafo-hablemos {
      font-size: 0.8rem;
    }
  
    .footer-primera-fila p,
    .footer-segunda-fila p,
    .nav-footer a {
      font-size: 0.8rem;
    }
  
    .contenedor-iconos .bi {
      font-size: 1rem;
    }
  }
  
    .active{
      color: #ff6b6b !important;
    }