*{ 
    font-family: "Didact Gothic", sans-serif; 
    font-weight: 400;  /*tipografia*/
    font-style: normal; }

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
    margin: 0;
}
.didact-gothic-regular {
    font-family: "Didact Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 300%;
    
    
}
.flip-card {
    background-color: transparent;
    width: 22%;
    height: 500px;
    perspective: 1000px; /* Ajusta la perspectiva del flip card */
    margin-bottom: 20px; /* Espacio entre las tarjetas */
    margin: 20px 20px;
}
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.9s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(184, 58, 58, 0.2);
}
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.flip-card-front {
    background-color: #ccdbdc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.flip-card-back {
    background-color: #ccdbdc;
    color: rgb(43, 39, 39);
    transform: rotateY(180deg);
    padding: 15px;
    display: flex;
    align-items:center;
    justify-content:center;
    font-style: oblique;
    font-size: 22px;
}
.flip-card-front img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 1em; /* Espacio entre la foto y la información */
}
.info {
    font-style: italic;
    text-align: center;
}
.resumen {
    height: 18em;
    width: 17em;
}
@media (max-width: 748px) {
    .flip-card {
        width: 15%;
        height: 500px;
    }

    .flip-card-front img {
        height: 100px;
        width: 150px;
    }

}
@media (max-width: 460px) {
    .flip-card {
        width: 95%;
        height: 250px;
    }

    .flip-card-front img {
        height: 160px;
    }
 
}

/* Estilos Footer */

.contenedor-footer{
    background-color: #143027;
    color: white;
    padding: 25px;
}
.footer-primera-fila{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 20px;
    color: white;
}

.footer-segunda-fila{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo-footer{
    width: 200px;
    height: 200px;
    margin: 15px;
}

.contenedor-iconos{
    margin-top: 10px;
    margin-bottom: 10px;
} 

.bi{
    margin: 10px;
    font-size: 1.4rem;
    color: white;
}
.nav-footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-footer a{
    text-decoration: none;
    color: white;
}
.hablemos{
    font-weight: bold;
    font-size: 1.3rem;
}


