.contenedor {
    margin: 2em;
    border: solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.equipo {
    margin: 0.5em;
    border:  solid blueviolet;
    width: 17.5em;
    height: 20em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.foto {
    border: solid black;
    width: 12em;
    height: 12em;
    border-radius: 50%;
}
.resumen {
    border: solid black;
    height: 8em;
    width: 17em;
}

/* Estilos Footer */

.contenedor-footer{
    background-color: #143027;
    color: white;
    padding: 25px;
}
.footer-primera-fila{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 20px;
    color: white;
}

.footer-segunda-fila{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
img{
    width: 200px;
    height: 50px;
    margin: 15px;
}

 .contenedor-iconos{
    margin-top: 10px;
    margin-bottom: 10px;
} 

.bi{
    margin: 10px;
    font-size: 1.4rem;
    color: white;
}
.nav-footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-footer a{
    text-decoration: none;
    color: white;
}
.hablemos{
    font-weight: bold;
    font-size: 1.3rem;
}

