* {
  font-family: "Didact Gothic", sans-serif;
  font-weight: 400; /*tipografia*/
  font-style: normal;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
  margin: 0;
}

.wallpaper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-image: url(/img/wallpaper.jpg);
}

.wallpaper h1 {
  font-size: 300%;
  color: white;
  text-shadow: #ff6b6b 4px 4px;
}

/* ACERCA DE */
.acercade {
  margin: 20px;
}

.acercade img {
  border-radius: 10px;
}

.acercade p {
  text-align: justify;
}

/* TARJETAS */
.contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: 300%;
}
.flip-card {
  background-color: transparent;
  width: 22%;
  height: 500px;
  perspective: 1000px; /* Ajusta la perspectiva del flip card */
  margin-bottom: 20px; /* Espacio entre las tarjetas */
  margin: 20px 20px;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.9s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(184, 58, 58, 0.2);
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.flip-card-front {
  background-color: #ccdbdc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.flip-card-back {
  background-color: #ccdbdc;
  color: rgb(43, 39, 39);
  transform: rotateY(180deg);
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: oblique;
  font-size: 22px;
}
.flip-card-front img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 1em; /* Espacio entre la foto y la información */
}

.flip-card img {
  width: 200px;
  height: 200px;
  margin: 15px;
}

.info {
  font-style: italic;
  text-align: center;
}
.resumen {
  height: 18em;
  width: 17em;
  font-size: 15px;
}
/* FORMA DE CONTACTO */
.forma {
  margin: 30px;
}

#mensaje {
  height: 100%;
  opacity: 70%;
}

.btn-vitalia {
  margin-top: 4%;
}
/* FOOTER */
.contenedor-footer {
  background-color: #143027;
  color: white;
  padding: 25px;
  margin: 0;
  width: 100%;
}

.footer-primera-fila {
  padding: 20px;
  color: white;
}

.footer-segunda-fila {
  justify-content: space-around;
  align-items: center;
}

.contenedor-iconos {
  margin-top: 10px;
  margin-bottom: 10px;
}

.bi {
  margin: 10px;
  font-size: 1.4rem;
  color: white;
}

.nav-footer a {
  text-decoration: none;
  color: white;
  margin-right: 10px;
}
.hablemos {
  font-weight: bold;
  font-size: 1.3rem;
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
  .navbar-nav .nav-item {
    font-size: 1.2rem;
  }

  .navbar-brand img {
    width: 150px;
  }

  .acercade p {
    font-size: 1rem;
  }

  .flip-card {
    width: 15%;
    height: 500px;
  }

  .flip-card-front img {
    height: 100px;
    width: auto;
  }

  .resumen {
    font-size: 0.9rem;
    padding-top: 25px;
  }

  .hablemos {
    font-size: 1.1rem;
  }

  .parrafo-hablemos {
    font-size: 0.9rem;
  }

  .footer-primera-fila p,
  .footer-segunda-fila p,
  .nav-footer a {
    font-size: 0.9rem;
  }

  .contenedor-iconos .bi {
    font-size: 1.2rem;
  }
}

@media (max-width: 576px) {
  .navbar-nav .nav-item {
    font-size: 1rem;
  }

  .navbar-brand img {
    width: 120px;
  }

  .acercade p {
    font-size: 1rem;
  }

  .flip-card {
    width: 95%;
    height: 250px;
  }

  .flip-card-front img {
    height: 160px;
  }

  .hablemos {
    font-size: 1rem;
  }

  .parrafo-hablemos {
    font-size: 0.8rem;
  }

  .footer-primera-fila p,
  .footer-segunda-fila p,
  .nav-footer a {
    font-size: 0.8rem;
  }

  .contenedor-iconos .bi {
    font-size: 1rem;
  }
}

/*PRODUCTOS*/
  h2{
    text-align: center;
    padding: 10px;
    color: #143027;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .card img{
    width: 100px;
    height: 300px;
  }

/*   .wallpaperProductos{
      display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  background-image: url(/img/natural\ 1.png);

  } */